.App {
  text-align: center;
}
body,
h1,
h2 {
  font-family: "fira sans";
}

.hero-header{
  height: 300px;
}
.organge {
  background-color: #ff7654;
}

.purple {
  background-color: "#6849e3";
}

nav h2 {
  color: white;
}

.cta-btn {
  background-color: #ff8c43 !important;
  color: white !important;
  font-weight: 700 !important;
}
.nav-links {
  float: right !important;
}
nav ul a {
  color: white;
  font-weight: bold;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
